/*меню для при нажатии правой копкой мыший*/

.context-menu {
    padding: 0px;
    position: fixed;
    margin-top: 40px; /*относительно других*/
    display: none;
    z-index: 2; /*размещаем по верх остальных блоков на */
    width: 240px;
    height: 390px;
    border-radius: 5px;
    border: 1px solid var(--context-menu-border);
    background: var(--context-menu-background);
    font-family: 'Arial', sans-serif; /* Выбор другого шрифта */
    font-size: 14px; /* Измените размер шрифта на желаемый */
    padding: 10px;
}
    
    .menu-cont img {
        position: relative;
        height: 32px;
        align-self: center;
    }
    .menu-cont{
        display: flex;
    }

    #block_menu_cont .menu-cont span {
        position: relative;
        align-self: center;
        height: 100%;
        width: 100%;
        margin-left: 8px;
    }

    #delete {
        color: var(--context-menu-del);
    }

    .menu-cont:hover {
        background: var(--context-menu-background-header);
        border-radius: 5px;
    }

/*Для меню при кликанье правой кнопкой мыши на таблицу*/
    .menu-material{
        cursor: default; /*копирования пунктов меню*/
        display: flex;
        
    }
    
    /*некоторые иконки сделаем контраснее*/
    .menu-img {
        /*filter: var(--filter-img); /* Делает изображение темнее */    
        filter: 0.10; /* Делает изображение темнее */    
        filter:var(--filter-img);
    }

    .menu-material img {
        position: relative;
        height: 32px;
        align-self: center;
    }


    #delete_row span  {
        color: var(--context-menu-del);
    }

    #delete_buffer span  {
        color: var(--context-menu-del);
    }


    .menu-material:hover {
        background: var(--context-menu-background-header);
        border-radius: 5px;
        
    }

    .context-menu .menu-material span {
        align-self: center;
        position: relative;
        margin-left: 8px;
        height: 100%;
        width: 100%;
        
    }

 