.help {/*элемент подсказки*/
    position: absolute;
    overflow: visible;
    width: var(--help-width);
    height: var(--help-height);
    left: var(--help-left);
    top: 205px;
    background: var(--help-background);
    border-radius: 3px;   
    z-index: 100;
    display: none;
    margin-top: var(--help-margin-top);
}

.help:before {
    content: ""; 
    border: solid transparent;
    position: absolute;  
    right: 100%;
    top: 50%;
    border-right-color:var(--help-background);
    border-width: 9px;
    margin-top: -9px;
    z-index: 100;
    transition: opacity 1s ease-in-out;
}


#error {
    position: absolute;
    background-color: var(--error-background);
    box-shadow: 0 0 10px var(--error-background);
    border-radius: 12px;
    top: 50%;
    left: 50%;
    width: 44%;
    height: 200px;
    padding: 20px;
    z-index: 2;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
    transition: opacity 1s ease-in-out;
}

#error h1 {
    text-align: center;
    color: red;
}

#error #error-div {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden; /* Обрезает все содержимое, выходящее за пределы блока */
}

#error #error-h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}