
/* Контейнер для формы */



#form-question {
    position: absolute;
    background-color: var(--header-menu-background);
    top: 50%;
    left: 50%;
    height: 500px;
    width: 40%;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
    z-index: 1; /*размещаем по верх остальных блоков на form*/
    /*box-sizing: border-box; /* Учитываем padding в ширине */
    
}


.form-question1{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    
    margin: 0px; /*устранение бага при нажатой мышки и смещения*/
}

#form-block-up{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
    overflow: hidden; /* Обрезает все содержимое, выходящее за пределы блока */
}

#form-question-block-up{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    transition: left 0.5s ease; /* Анимация смещения */
}

#question-player-block{
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    width: 100%;
    height: 100%;
}

#question-text{
    position: absolute;
    box-sizing: border-box;
    margin-left: 100%;
    top: 0px;
    width: 100%;
    height: 100%;
}

#question-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
    font-family: 'Arial', sans-serif; /* Выбор другого шрифта */
    font-size: 50px; /* Измените размер шрифта на желаемый */
    text-align: center; /* Выравнивание текста по центру по горизонтали */
    opacity: 1;
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */    
}

#form-question-block-center{
    position: absolute;
    left: 0px;
    top: 40%;
    width: 100%;
    height: 20%;
}


.question-task {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
    margin-left: 0px;  
}


.question-task h3{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
    opacity: 1;
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */    
}

#form-block-down{
    position: absolute;
    top: 60%;
    left: 0px;
    width: 100%;
    height: 40%;
    overflow: hidden; /* Обрезает все содержимое, выходящее за пределы блока */
}

#form-question-block-down{
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    transition: left 0.5s ease; /* Анимация смещения */
}

#microphone {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#microphone #oscilloscope{
    position: absolute;
    height: var(--question_microphone_height);
    width: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
}

#microphone .menu-img{
    position: absolute;
    height: var(--question_player_height); 
    width: var(--question_player_height); 
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
}


#input_answer_block{
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    margin-left: 100%;
    width: 100%;
    height: 100%;
}

#input_answer_block2{
    position: absolute;
    width: 90%;
    height: 60%;
    display: flex;
    border: 1px solid var(--select);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
}

#input_answer_block2 #line1{
    height: 100%;
    border-left: 1px solid var(--select);
    display: flex; /* Включаем Flexbox */
}

.answer{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana, sans-serif; /* Выбор другого шрифта*/ 
    font-size: var(--question_font-size_input); /* Измените размер шрифта на желаемый */
    align-items: center;
    justify-content: center; /* Центрируем по горизонтали */
}

#input_answer_block2 #language_answer{
    position: relative;
    display: flex; /* Включаем Flexbox */
    height: 100%;
    width: 50px;
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
    margin-left: 0px;  
}



#input_answer_block2 #text_answer{
    position: absolute;
    width: calc(100% - 90px);
    height: 93%;
}


#text_answer{
    outline: none; /* Убираем обводку при фокусе */
    overflow: hidden;
    border: none;    
    resize: none; /* Отключает возможность изменения размеров textarea */
    
}

#text_answer:focus{
    caret-color: rgb(252, 0, 0); /* Пусть они почувствуют себя как в Матрице */
    caret-shape: block;
}

.form-question progress {
    width: 100%;
    height: 20px;
    display: none;
    
}


/*для плеера на форме вопрос-------------------------------------------*/
  
#question-player{
    position: absolute;
    width: auto;
    height: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%); /* Центрируем по середине контейнера */
  }

  #question-player #question-play{
    align-self: center;
    margin: var(--player_width_margin_question);
    flex-shrink: 0;
  }

  #question-player {
      position: relative;
      width: var(--play_width_question);
      height: var(--play_width_question);
      table-layout: fixed; /* Фиксированная ширина колонок */
  }

  #question-progress-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0deg, transparent 0deg, var(--play_background_question) 0deg 360deg, transparent 360deg);
    clip-path: circle(50% at 50% 50%);
  }

  #question-progress-circle::before {
    content: '';
    position: absolute;
    padding: 0px;
    top: var(--play_line_question);
    left: var(--play_line_question);
    width: calc(100% - var(--play_line_question)*2);
    height: calc(100% - var(--play_line_question)*2);
    background-color: var(--table-container-background);
    border-radius: 50%;
    outline: var(--play_background_question);
  }

  #question-player .question-play-arc-2 {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 5%;
    left: 5%;
    top: 5%;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    border: 2px solid var(--scrollbar-header);
  }

  .question-play-stop-block{
    position: absolute;
    top: 15%;
    left: 15%;
    top: 15%;
    bottom: 15%;
    right: 15%;
    overflow: hidden; /* Обрезает все содержимое, выходящее за пределы блока */
    border-radius: 50%;
  }

  #question-play-stop{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    transition: left 0.5s ease; /* Анимация смещения */
  }


  #question-play-stop .question-play-triangle-left {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 15%;
    left: 33%;
    border-radius: 0%;
    box-sizing: border-box;
    border: var(--play_border_question) solid transparent; 
    border-left: var(--play_border_left_question) solid var(--scrollbar-header);
    
  }

  #question-play-stop .question-play-progress-stop{
    position: absolute;
    margin-left: 100%;
    top: 30%;
    width: 40%;
    height: 40%;
    background-color: var(--scrollbar-header);
    left: 31%;
  }
