html  {
    margin: 0px;
    background: var(--html-background);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html body {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

html body .form-general{
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex; /* */
    flex-direction: column; /*для наследников расположение по вертикали*/
}

html body .form-general .header {
    padding:  0px;
    position: relative;
    padding: 0px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-background);
    box-sizing: border-box;
    border-radius: 20px 20px 0px 00px;
    border-top: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
    border-left: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
    border-right: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
}

/*верхнее меню и лого*/
html body .form-general .navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; /* Ширина без выбора*/
    height: 100%; /*высота в процентах бара*/
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: 'Arial', sans-serif; /* Выбор другого шрифта */
    font-size: 16px; /* Измените размер шрифта на желаемый */
}

    .navbar .logo { /*логотип*/
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar .logo img{ /*логотип*/
        top: 20px;
        margin-left: 20px; /*отступ логотипа от края*/
        height: 30px;
    }

    .navbar .navbar-menu{
        top: 0px;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        display: flex;
    } 

    .navbar .navbar-menu ul{
        margin-left: auto;
        margin-right: 30px;
    }

    .navbar .navbar-menu li, a {
        display: flex;
        text-align: center;
        align-items: center;
        color: var(--header-hover-color);
        text-decoration: none; /*чтобы не подчеркивать текст*/

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px; /* -10px */
        float: left; /*объекты друг за другом*/
    }

    .navbar .navbar-menu span {
        display: flex;
        text-align: center;
        align-items: center;
        text-decoration: none; /*чтобы не подчеркивать текст*/
    }

    .navbar .navbar-menu li img {
        width: var(--navbar-menu-li);
        height: var(--navbar-menu-li);
        margin-right: 10px; /* между текстом и иконкой растояние*/
        filter: var(--filter-img); /* Делает изображение темнее */
    }

    .navbar .navbar-menu .navbar-menu-a {
        border-radius: 6px;
    }

    .navbar .navbar-menu .menu-user {
        box-sizing: border-box;
        border-radius: 6px 6px 0px 0px;
    }

    .navbar .navbar-menu .navbar-menu-a:hover {
        background-color: var(--header-menu-user-background); /* Полупрозрачный серый цвет */
        box-shadow: 0 0 2px var(--header-menu-user-background); /*убираем арифакты*/
        transition: background-color 0.2s ease 0.02s ;
    }

    .navbar .navbar-menu .menu-user:hover {
        background-color: var(--header-menu-user-background); /* Полупрозрачный серый цвет */
        transition: background-color 0.13s; /* Плавный переход */
        /*убираем арифакты*/
        box-shadow: 
        0 -2px 2px var(--header-menu-user-background-1), /* Тень сверху */
        2px 0 2px var(--header-menu-user-background-1),  /* Тень справа */
        -2px 0 2px var(--header-menu-user-background-1); /* Тень слева */
        z-index: 5; /* Ensure header is above the table rows */
    }



html body .form-1 {
    position: relative;
    flex-grow: 1; /*нижний блок заполняет полностью пустое пространство*/
    display: flex;
}



/*верхнее меню настройкми оплатой и входом*/
.menu-user {
    position: relative;
    z-index: 4; /* Ensure header is above the table rows */
    
}

.menu-user ul {
    position: absolute;
    z-index: 1; /*размещаем по верх остальных блоков на */
    left: -184px;
    top: 100%;
    display: none;
    padding: 20px 0;
    border-radius: 6px 0px 6px 6px;
    background-color: var(--header-menu-user-background);
    box-shadow: 
        0 2px 0 var(--header-menu-user-background-1), /* Тень сверху */
        2px 0 2px var(--header-menu-user-background-1),  /* Тень справа */
        -2px 0 2px var(--header-menu-user-background-1); /* Тень слева */
}

.menu-user:hover > ul {
    display: block;

}


.menu-user-1{
    width: 90px;
}

.menu-user li {
    position: relative;
    list-style: none;
    height: var(--navbar-menu-li-2);
}

.menu-user li a {
    position: relative;
    width: 244px;
    border-radius: 5px;
    height: 100%;
}

.menu-user-a a:hover {
    position: relative;
    transition: background-color 0.2s ease-in 0.02s ;
    background-color: var(--header-menu-border);
}


