
#audio_play{
  width: 100%;
  height: 100%;
  z-index: 30;
  display: flex;
  table-layout: fixed; /* Фиксированная ширина колонок */
  align-self: center;
}

#audio_play .arc-container{
  align-self: center;
  margin: var(--player_width_margin);
  flex-shrink: 0;
}

.audio_play_text{
  width: auto;
  width: calc(100% - var(--table-tab-player));
  flex-grow: 1; /* Этот блок будет занимать оставшееся пространство */
  table-layout: fixed; /* Фиксированная ширина колонок */
  align-self: center;

}

#audio_play_text_write{
  color: var(--table-no-change);
}

#audio_play_text_write:focus{
  border: none;
  outline: none; /* Убираем обводку при фокусе, если необходимо */
}

.arc-container {
    position: relative;
    width: var(--play_width);
    height: var(--play_width);
    table-layout: fixed; /* Фиксированная ширина колонок */
  }

  #progress-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0deg, transparent 0deg, var(--play_background) 0deg 360deg, transparent 360deg);
    clip-path: circle(50% at 50% 50%);
  }

  #audioPlayer{
    display: none; /*отключил отображение плеера*/
  }

  #audio_play #not-play{
    width: var(--play_width);
    height: var(--play_width);
    table-layout: fixed; /* Фиксированная ширина колонок */
    align-self: center;
    margin: var(--player_width_margin);
  }

  #progress-circle::before {
    content: '';
    position: absolute;
    padding: 0px;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: var(--tree-and-header-table);
    border-radius: 50%;
    outline: var(--play_background);
  }

  .arc-container .arc-2 {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 15%;
    left: 15%;
    top: 15%;
    bottom: 15%;
    right: 15%;
    border-radius: 50%;
    border: 2px solid var(--scrollbar-header);
  }



  .play_stop_block{
    position: absolute;
    top: 15%;
    left: 15%;
    top: 15%;
    bottom: 15%;
    right: 15%;
    overflow: hidden; /* Обрезает все содержимое, выходящее за пределы блока */
    border-radius: 50%;
  }

  #play-stop{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    transition: left 0.5s ease; /* Анимация смещения */
  }
  

  #play-stop .triangle-left {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 15%;
    left: 33%;
    border-radius: 0%;
    box-sizing: border-box;
    border: var(--play_border) solid transparent; 
    border-left: var(--play_border_left) solid var(--scrollbar-header);
    
  }

  #play-stop .progress_stop{
    position: absolute;
    margin-left: 100%;
    top: 30%;
    width: 40%;
    height: 40%;
    background-color: var(--scrollbar-header);
    left: 31%;
  }

