:root {
  --color-text: black; /*основной цвет текста в сайте*/
  --filter-img: brightness(20%);/*для того чтобы делать изображение темнее или светлее*/

  --scrollbar-header:rgb(168, 168, 168);
  --tree-and-header-table:rgb(218, 218, 218);
  --select: rgb(131, 130, 130);
  --select2:rgb(211, 211, 211);
  --line-out-color: black;

  --html-background:linear-gradient(to right, #f7f2f2,#cecece, #ece8e8);
  --tree-background: var(--tree-and-header-table); /* Общая переменная для цвета */
  --tree-background1: var(--tree-and-header-table); /* Общая переменная для цвета для убирания артефакта*/
  --tree-select-background: rgba(255, 255, 255, 1.0);
  --tree-select-background2: rgb(52, 208, 236);
  --tree-select-outline: 3.0px solid rgb(70, 52, 236);
  --tree-width: 400px;
  
  --header-height: 70px; /* Общая переменная для цвета */
  --header-background: var(--scrollbar-header);/*фон заголовка*/
  --header-hover: var(--tree-and-header-table);/*фон заголовка*/
  --header-hover-color: black;/*фон заголовка*/
  --header-menu-background: white; /*фон меню выпадающего в загаловке*/
  --header-menu-border: rgb(128, 128, 128); /*границы меню выпадающего в загаловке*/
  
  /*меню по правому клику мышки*/
  --context-menu-background: white;
  --context-menu-background-header: var(--tree-and-header-table);
  --context-menu-del:red; /*подсветк удаляющих элементов*/
  --context-menu-border: var(--scrollbar-header);
  --context-menu-not-activ: var(--scrollbar-header);
  
  /*Настройка выдвигающегося sidebar*/
  --sidebar-hover-color: rgb(128, 128, 128); /* Общая переменная для цвета search*/
  --sidebar-select-color: var(--select);
  --sidebar-background: var(--scrollbar-header); /* Общая переменная для цвета */
  --sidebar-width: 60px; /*минимальная ширина*/
  --sidebar-hover-width: 600px; /*максимальная ширина*/
  --sidebar-color: rgb(0, 0, 0);
  --sidebar-color2: rgb(0, 0, 0);
  
  /*цвета для визуализации добавления данных в дереве*/
  --select-area-changes: rgb(56, 209, 171); /*цвет добавленного элемента*/
  --select-element-changes: rgb(80, 89, 92); /*цвет добавленного элемента*/
  --select-element-add: rgb(247, 173, 76); /*цвет добавленного элемента*/
  
  
  /*настройка таблицы с материалами*/
  --table-container-material-line: rgb(124, 52, 52); /*цвет линий в таблицы*/
  --table-container-material-header: var(--tree-and-header-table); /*цвет шапки в таблицы*/
  --table-container-background: white;
  --table-container-hover:var(--select2);
  --table-container-header-height: 75px;
  --table-container-focus: rgb(229, 229, 255);
  --table-container-header-padding: 10px;
  --table-container-header-padding-right: 5px;
  

  /*настройка кастомизации scrool*/
  --scrollbar-thumb: var(--scrollbar-header);
  --material-width-scroll: 10px; /*ширина скрола*/
  --scrollbar-thumb-hover: var(--select);
  --scrollbar-header-height: calc(var(--table-container-header-height) + 15px);
  /* для загушки на экране*/
  --table-container-stump-width: calc(var(--table-container-header-padding-right)*2 + var(--material-width-scroll));

  /*Настройка help подсказки*/
  --help-background: var(--scrollbar-header);
  --help-left: 500px;
  --help-width: 340px;
  
  /*Настройки для аудио плеера*/
  --play_width: 40px;
  --play_border_left: calc(var(--play_width)/2.8);
  --play_border: calc(var(--play_width)/4);
  --play_background: rgb(45, 255, 45);
  

  /*Настройки для аудио плеера на форме вопроса*/
  --play_width_question: 160px;
  --play_border_left_question: calc(var(--play_width_question)/2.8);
  --play_border_question: calc(var(--play_width_question)/4);
  --play_line_question: 4px;
  --play_background_question: rgb(45, 255, 45);
  --player_width_margin_question:5px;

  /*таблица с материаламы*/
  --table-material-hover: var(--scrollbar-header);
  --table-row-height:60px;
  --player_width_margin:5px;
  --table-tab-player: calc(var(--play_width) + var(--player_width-margin)*2);
  --table-change:rgb(38, 86, 160); /*цвет где был изменен контент*/
  --table-no-change: black;

}