.form-1 .sidebar {
    position: relative;
    top: 0px;
    width: var(--sidebar-width); /* Ширина без выбора*/
    height: 100%;
    background-color: var(--sidebar-background);
    color: var(--sidebar-color);
    transform: translateX(1);
    will-change: transform;
    transition: width 0.3s ease-in-out;
    overflow: hidden; /*обрезание за границы блока*/
    /*border-right: 1px solid rgb(19, 0, 0); /*для того чтобы убрать при сворачивании артифакты*/
    border-right: 1px solid var(--scrollbar-header); /*для того чтобы убрать при сворачивании артифакты*/
    outline: none; /* Убираем outline по умолчанию */
    border-radius: 0px 0px 0px 20px; /*закругление от внешнего фона*/
    border-left: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
    border-bottom: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
    z-index: 3; /*размещаем по верх остальных блоков на form*/
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.sidebar:hover {
    width: var(--sidebar-hover-width);
}

.sidebar .block {
padding-top: 2px;
display: flex;
flex-direction: column;

}

.sidebar hr {
    width: 100%; /* Ширина линии */
    border: 0;
    margin: 10px 0; /* Отступы сверху и снизу */
}

.sidebar .icon, .icon-sidebar {
    padding: 10px; /*отступы от края иконок*/
    cursor: pointer;
    position: relative;
    margin-bottom: 5px; /*растояние между блоками*/
    
}

.sidebar .icon img {
        width: 42px;
        height: 42px;
        /*mix-blend-mode: multiply; /* Множение */
        filter: var(--filter-img); /* Делает изображение темнее */
    }

    .sidebar .icon-sidebar img {
        width: 42px;
        height: 42px;
        /*mix-blend-mode: multiply; /* Множение */
        filter: var(--filter-img); /* Делает изображение темнее */
    }

    .sidebar .icon::after {
        content: attr(data-description);
        position: absolute;
        font-size: 20px; /* Измените размер шрифта на желаемый */
        left: 60px; /*размещение текста после иконки*/
        top: 50%; /* Расположение радом с иконкой */
        font-family: 'Arial', sans-serif; /* Выбор другого шрифта */
        transform: translateY(-50%);
        white-space: nowrap; /* Оставить текст в одну строку */
        padding: 5px 10px;
        border-radius: 3px;
        pointer-events: none;
        
    }

    .sidebar .text {
    display: none;
    position: absolute;
    }

    .sidebar:hover .icon::after {
        opacity: 0.9;
    }

    .sidebar .icon:hover {
        background-color: var(--sidebar-hover-color);
        transition: background-color 0.2s ease-in 0.02s ;
        opacity: 1;
        height: 101%;
    }

    .sidebar:hover .icon.selected {
        background-color: var(--sidebar-select-color);
        transition: background-color 0.2s ease-in 0.02s ;
    }
