

/* Основное поле ввода данных материала и темы */
.form-1 .content{
    position: absolute;
    font-family: 'Arial', sans-serif; /* Выбор другого шрифта */
    opacity:1;
    left: var(--sidebar-width);
    right: 0px;
    height: 100%;
    display: flex;
    border-radius: 0px 0px 20px 0px;
    border-bottom: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
    border-right: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
}

.content .form-theme {
        left: 0px;
        height: 100%;
        width: 350px;
        background-color: var(--tree-background);
        border-bottom: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
    }

    .content .form-theme .table-menu {
        
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 30px;
        
    }

    .cell-menu {
        position: relative;
        display: flex;
        height: 30px;
        margin-top: 5px;
        border: 1px solid var(--tree-background);
    }
   
        .content .form-theme .table-menu {
            height: 70px;
        }
      

        .cell-menu img{
            height: 100%;
            vertical-align: middle;
        }    

        .cell-menu span{
            padding-left: 2px;
            display: grid;
            margin-top: 0px;
            position: relative;
            height: 100%;
            align-items: center; /* Вертикальное выравнивание */
            
        }   

        .content .form-theme .table-menu #search_menu{
            visibility: hidden; /*сделать блок невидемым но оставить отступы до соседних блоков*/
            border: 1px solid var(--tree-select-background);; /* Границы ячеек */
            /*pointer-events: none; /* чтобы изображение не перехватывало клики */
            border-radius: 5px; /* Закругленные углы трека */
            margin-top: 2px;
            background-color: var(--tree-select-background);
            
        }

        .cell-menu input{
            margin-top: 3px;
            height: 20px;
            width: 100%;
            font-size: 16px;
            background-color: var(--tree-select-background);
            border: none; /* убираем бордюры */
            outline: none; /* убираем обводку при фокусе */
        }    

        .content .form-theme .table-menu #folder_root {
            border-radius: 5px;
        }

        .content .form-theme .table-menu #folder_root:hover {
            background-color: var(--tree-select-background);
            border-radius: 6px;
            /*transition: background-color 0.13s; /* Плавный переход */
        }

        .content .form-theme .table {
            padding: 10px;
            overflow: auto; /* добавляет прокрутку по мере необходимости.*/
            height: calc(100% - 100px);
            border-right: 1px solid var(--line-out-color); /*внешняя отрисовка границы от фона*/
        }

        .content .form-theme .table-theme {
            display: flex;
            position: relative;
            height: 30px; /*делаем чуть меньше icon чтоб не прерывался рисунок*/
            margin: 8px; /*оставляем зазор для выделения при клике на элемент*/
            border-radius: 6px; /* Закругленные углы трека */
            outline: none; /* Убираем outline по умолчанию */
            opacity: 0.90; /* для убирания фризов при scroll */
            transition: opacity 0.1s ease-in 0.1s; /* для убирания фризов при scroll */
        }

        .content .form-theme .table-theme img, span{
            position:relative;
            margin-top: -4px;
            height: 38px;
        }

        .content .form-theme .table-theme span {
            left: 1px;
            top: 9px;
            overflow: hidden; /* Скрывает контент, который выходит за границы блока */
            white-space: nowrap; /* Запрещает перенос текста */
            text-overflow: ellipsis; /* Добавляет троеточие в конце обрезанного текста */
            padding-right: 20px;
            max-width: 100%; /* Устанавливаем максимальную ширину ячеек */
        }

              
        /* для кастомизации элемента scroll*/
        .content .form-theme .table::-webkit-scrollbar {
            position: absolute;
            width: 10px; /* Ширина скроллбара */
        }

        .content .form-theme .table::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb); /* Цвет ползунка при наведении */
            border-radius: 10px; /* Закругленные углы трека */
        }

        .content .form-theme .table::-webkit-scrollbar-thumb:hover {
            background: var(--scrollbar-thumb-hover); /* Цвет ползунка при наведении */
        }


        /*для подсетки дерева каталога разыми цветами при добавлении файлов или каталогов*/
        .table-theme[data-color = 'select-area-changes'] {
            /* для посетки области куда добавленн или где модифицированн элемент */
            color: var(--select-area-changes);
        }

        .table-theme[data-color = 'select-element-changes']{
            /* для посетки родителя куда добавленн или где модифицированн элемент */
            color: var(--select-element-changes);
        }

        .table-theme[data-color= 'select-element-add']{
            /* для посетки добавленного или модифицированного элемента */
            color: var(--select-element-add);
        }

        .table-theme[data-color = 'select-area-changes']:hover {
            /* для посетки области куда добавленн или где модифицированн элемент */
            color: var(--select-area-change);
        }

        .table-theme[data-color = 'select-element-changes']:hover{
            /* для посетки родителя куда добавленн или где модифицированн элемент */
            color: var(--select-element-changes);
        }

        .table-theme[data-color= 'select-element-add']:hover{
            /* для посетки добавленного или модифицированного элемента */
            color: var(--select-element-add);
        }

        .content .form-theme .table-theme:hover {
            background-color: var(--tree-select-background);
            opacity: 1; /* для убирания фризов при scroll */
            width: 94.0%; /* для убирания фризов при scroll */
            transition: background-color 0.1s ease-in 0.02s ;
        }        
